body {
    background-color: #00C2FF;
}

.nav {
    background-color: #0085FF;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.center {
    text-align: center;
}

.arc, .episode {
    background-color: #00A3FF;
}

img {
    width: 35%;
}

h4 {
    padding: 5px;
}

.container {
    min-height: 100vh;
    background-color: #00A3FF;
}

.homepage{
    cursor: pointer;
    background: cyan;
    transition: 0.4s;
    margin: 0;
    height: 45px;
    border: 1px solid darkblue;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px;
}

.homepage:hover {
    background: darkblue;
}

.homepage:hover > a {
    color: white;
}

.historical{
    cursor: pointer;
    background: cyan;
    transition: 0.4s;
    margin: 0;
    height: 45px;
    border: 1px solid darkblue;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px;
}

.historical:hover {
    background:rgb(0, 119, 255);
}

.historical:hover > a {
    color: white;
}

.deco{
    cursor: pointer;
    background: cyan;
    transition: 0.4s;
    margin: 0;
    height: 45px;
    border: 1px solid darkblue;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px;
}

.deco:hover {
    background: red;
}

.deco:hover > a {
    color: white;
}

button {
    cursor: pointer;
    background: cyan;
    transition: 0.4s;
    margin: 10px;
    height: 45px;
    border: 1px solid darkblue;
    border-radius: 5px;
    font-size: 1.1rem;
}

button:hover {
    background: blue;
}