.nav {
    background-color: #00C2FF;
    display: flex;
    justify-content: space-around;
}

body {
    background-color: #04E1FF;
}

.container{
    background-color: #01A4FF;
    min-height: 100vh;
}

video {
    width: auto;
}

.center{
    text-align: center;
}

h4 {
    padding: 10px;
}